<!DOCTYPE html>
<html ng-app="vshelterApp">
<head>
<meta charset="UTF-8">
<title>Virtual Shelter</title>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<script src="js/controllers.js"></script>

</head>
<body ng-controller="AnimalController">
	<h1>Add new animal</h1>

	<form ng-submit="postAnimal()">
		Name: <input ng-model="animal.name" /> <input type="submit"
			value="Save" />
	</form>

	<h1>List of animals</h1>

	<table ng-show="animals.length > 0">
		<thead>
			<tr style="font-weight: bold;">
				<td>Name</td>
			</tr>
		</thead>
		<tr ng-repeat="animal in animals">
			<td>{{animal.name}}</td>
		</tr>
	</table>

</body>
</html>