<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Virtual Shelter</title>
	
	<script type="text/javascript" src="vendor/jquery/dist/jquery.js"></script>
	<script	type="text/javascript" src="vendor/angular/angular.js"></script>
	<script	type="text/javascript" src="vendor/angular-ui/build/angular-ui.js"></script>
	<script	type="text/javascript" src="vendor/angular-paginate-anything/dist/paginate-anything.js"></script>
	<script	type="text/javascript" src="vendor/angular-route/angular-route.js"></script>
	<script	type="text/javascript" src="vendor/select2/select2.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	
	<script src="js/controllers.js"></script>
	<script src="js/services.js"></script>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="vendor/angular-ui/build/angular-ui.css">
	<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">

</head>
<body ng-app="vshelterApp">
	<div class="row">
		<div class="col-md-6 col-md-offset-6">
			<form class="form" name="loginForm" novalidate method="post" autocomplete="off" ng-model=loginForm ng-controller="HeaderController as vm">
				<div class="input-group">
					<input type="text" name="email" placeholder="Email">
					<input type="password" name="password" placeholder="Password">
					<button type="button" ng-click="vm.register()">Register</button>
					<button type="button" ng-click="vm.login()">Login</button>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9 col-md-offset-3">
			<form  class="form" name="searchForm" novalidate method="post" autocomplete="off" ng-model="searchForm" ng-controller="SearchController as vm">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<input type="text" name="serch.name" placeholder="name" ng-model="search.name">
							<select 
								name="search.breed"
								ng-model="search.breed"
								ng-options="breed.id as breed.name for breed in vm.searchFields.coreData.breeds">
								<option value="" disabled selected>breed</option>
							</select>
							<select 
								name="search.species
								ng-model="search.species"
								ng-options="species.id as species.name for species in vm.searchFields.coreData.species">
								<option value="" disabled selected>species</option>
							</select>
							<select 
								name="search.sex"
								ng-model="search.sex"
								ng-options="sex.id as sex.name for sex in vm.searchFields.coreData.sexes">
								<option value="" disabled selected>sex</option>
							</select>
							<select 
								name="search.adoptionType"
								ng-model="search.adoptionType"
								ng-options="adoptionType.id as adoptionType.name for adoptionType in vm.searchFields.coreData.adoptionTypes">
								<option value="" disabled selected>adaptation type</option>
							</select>
							<input type="checkbox" ng-model="vm.detailed"><label>Detailed</label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12"  ng-show="vm.detailed">
							<div class="row">
								<div class="col-md-3">
									<input type="text" name="serch.name" placeholder="name" ng-model="search.name">
								</div>
								<div class="col-md-3">
									<input type="text" name="serch.name" placeholder="name" ng-model="search.name">
								</div>
								<div class="col-md-3">
									<input type="text" name="serch.name" placeholder="name" ng-model="search.name">
								</div>
								<div class="col-md-3">
									<input type="text" name="serch.name" placeholder="name" ng-model="search.name">
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<article>
				<img src="" title="Kep1" />
				<details>
					Bla-blablaBla-blablaBla-blabla
				</details>
			</article>
			<article>
				<img src="" title="Kep2" />
				<details>
					Bla-blablaBla-blablaBla-blabla
				</details>
			</article>
			<article>
				<img src="" title="Kep3" />
				<details>
					Bla-blablaBla-blablaBla-blabla
				</details>
			</article>
		</div>
		<div class="col-md-9" ng-view>
		</div>
	</div>
</body>
</html>