
<html ng-app="sportnetworkApp">
<head >
<title>Login Page</title>

<script type="text/javascript" src=lib/jquery/dist/jquery.js></script>
<script type="text/javascript" src="lib/angular/angular.js"></script>
<script type="text/javascript"
	src="lib/angular-ui/build/angular-ui.js"></script>
<script type="text/javascript"
	src="lib/angular-paginate-anything/dist/paginate-anything.js"></script>
<script type="text/javascript"
	src="lib/angular-route/angular-route.js"></script>
<script type="text/javascript" src="lib/select2/dist/js/select2.js"></script>

<script type="text/javascript"
	src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/registrationcontroller.js"></script>	

<link rel="stylesheet" href=css/main.css>
<link rel="stylesheet" href="lib/angular-ui/build/angular-ui.css">
<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
<link href="css/bootstrap-responsive.min.css" rel="stylesheet" />

<link rel="shortcut icon" href="">
</head>
<body ng-controller="RegistrationController">
	
	<div id="page">
	
	<div id="header" align="center">
  		<img src="img/logo.png" alt="logo" />
	</div>
	

	<div id="login-box" style="background:#A9D0F5">
		
		
			<form name='f' action='/login' method='POST'>
				<div class="form-group row">
					<label class="control-label col-sm-4" style="margin-left: 40px;">AUTSport</label>
					<div align="center">
						<table >
							<tr><td></td><td>Email or Name</td><td>Password</td></tr>
							<tr><td>Log In:</td><td><input type='text' name='username' value=''></td><td><input type='password' name='password'/></td><td><input name="submit" type="submit" value="Login"/></td></tr>
						</table>
					</div>
				</div>
				<p>
				
			</form>
			
			<hr>
		
			<h2 align="center">Sign Up</h2>
			
		
			<from class="form">
			
				
		
<div class="panel-body">
	<div class="form-group row">
		<label class="control-label col-sm-3 registration">Name*</label>
		<div class="col-sm-5">
			<input class="form-control" type="text" name="name"
				ng-model="user.name" placeholder="Name">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-3 registration">Email*</label>
		<div class="col-sm-5">
			<input class="form-control" type="text" name="email"
				ng-model="user.email" placeholder="Email">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-3 registration">Password*</label>
		<div class="col-sm-5">
			<input class="form-control" type="password" name="password" id="password"
				ng-model="user.password">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-3 registration">Password again*</label>
		<div class="col-sm-5">
			<input class="form-control" type="password" name="password-re" id="password-re"
				password-match="password" ng-model="pw">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-3 registration">Age*</label>
		<div class="col-sm-5">
			<input class="form-control" type="number" name="age" 
				ng-model="user.age">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-3 registration">Country*</label>
		<div class="col-sm-5">
			<input class="form-control" type="text" name="country"
				placeholder="Country" ng-model="user.address.country">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-3 registration">ZIP Code</label>
		<div class="col-sm-5">
			<input class="form-control" type="number" name="zipCode"
				placeholder="1000" ng-model="user.address.zipCode">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-3 registration">City*</label>
		<div class="col-sm-5">
			<input class="form-control" type="text" name="street"
				placeholder="City" ng-model="user.address.city">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-3 registration">Street
		</label>
		<div class="col-sm-5">
			<input class="form-control" type="text" name="street"
				placeholder="Street" ng-model="user.address.address">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-3 registration">Province</label>
		<div class="col-sm-5">
			<input class="form-control" type="text" name="province"
				placeholder="Province" ng-model="user.address.province">
		</div>
	</div>
	
	<div class="form-group row">
		<label class="control-label col-sm-3 registration">Phone number</label>
		<div class="col-sm-5">
			<input class="form-control" type="text" name="phoneNumber"
				placeholder="Phone number" ng-model="user.phoneNumber">
		</div>
	</div>
	
	<div class="form-group row">
		<label class="control-label col-sm-3 registration">About me</label>
		<div class="col-sm-5">
			<textarea class="form-control" rows="2" ng-model="user.introductionText"></textarea>
		</div>
	</div>
	
	<div class="form-group row">
		<label class="control-label col-sm-4 registration">Interest</label>
		<div class="col-sm-3">
			<select class="form-control" multiple="multiple" ng-model="user.interest">
				<option value="FOOTBALL">FOOTBALL</option>
				<option value="BASKETBALL">BASKETBALL</option>
				<option value="TENNIS">TENNIS</option>
				<option value="VOLLEYBALL">VOLLEYBALL</option>
				<option value="HANDBALL">HANDBALL</option>
				<option value="ICE_HOCKEY">ICE_HOCKEY</option>
				<option value="BADMINTON">BADMINTON</option>
				<option value="BASEBALL">BASEBALL</option>
				<option value="AMERICAN_FOOTBALL">AMERICAN_FOOTBALL</option>
				<option value="SNOOKER">SNOOKER</option>
				<option value="TABLE_TENNIS">TABLE TENNIS</option>
				<option value="CHESS">CHESS</option>
			</select>
		</div>
	</div>

</div>
<div class="panel-footer text-center">
	<button class="btn btn-primary" ng-click="postUser()">Save</button>
</div>
</from>
	</div>
	
	
	</div>
	

</body>
</html>