<h1>Create an advertisement</h1>
<hr/>

<div class="row-fluid" ng-hide='!error'>
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">{{error}}</div>
    </div>
</div>
<form class="form">
    <div class="panel-body">
        <div class="form-group row">
            <label class="control-label col-md-3">Title*</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="title"
                       ng-model="advertisement.title">
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-3">Description</label>
            <div class="col-sm-6">
                <textarea class="form-control" rows="5" ng-model="advertisement.description"></textarea>
            </div>
        </div>

        <fieldset ng-if="administeredShelters.length > 0">
            <legend>Advertiser</legend>
            <div class="form-group row">
                <label class="control-label col-md-3" for="advertiseAs">Advertise as:</label>
                <div class="col-sm-6">
                    <select id="advertiseAs" class="form-control" ng-model="advertisement.advertiser"
                            ng-options="{id: s.institutionId, type: 'shelter'} as s.name for s in administeredShelters">
                        <option value="">Self</option>
                    </select>
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>Animal details</legend>
            <div class="form-group row">
                <label class="control-label col-md-3">Name:</label>
                <div class="col-sm-6">
                    <input class="form-control" ng-model="advertisement.animal.name"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-md-3">Adoption:</label>
                <div class="col-md-3">
                    <select class="form-control" ng-model="advertisement.animal.adoptionType">
                        <option value="" disabled>Choose</option>
                        <option value="TEMPORARY">temporary</option>
                        <option value="PERMANENT">permanent</option>
                        <option value="BOTH">both</option>
                    </select>
                </div>
                <label class="control-label col-md-3">Sex:</label>
                <div class="col-md-3">
                    <select class="form-control" ng-model="advertisement.animal.sex">
                        <option value="" disabled>Choose</option>
                        <option value="MALE">male</option>
                        <option value="FEMALE">female</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-md-3">Species:</label>
                <div class="col-md-3">
                    <select class="form-control" ng-model="advertisement.animal.species"
                            ng-options="{id: s.speciesId, speciesName: s.name} as s.name for s in species"
                            ng-change="getBreeds()">
                        <option value="" disabled>Choose</option>
                    </select>
                </div>
                <label class="control-label col-md-3">Breed:</label>
                <div class="col-md-3">

                    <select class="form-control" ng-model="advertisement.animal.breed"
                            ng-options="b as b.breedName for b in breeds">
                        <option value="" disabled>Choose</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-md-3">Height(m):</label>
                <div class="col-md-3">
                    <input class="form-control" type="number" ng-model="advertisement.animal.height" placeholder="1.5"/>
                </div>
                <label class="control-label col-md-3">Weight(kg):</label>
                <div class="col-md-3">
                    <input class="form-control" type="number" ng-model="advertisement.animal.weight" placeholder="1.5"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-md-3">Age(years):</label>
                <div class="col-md-3">
                    <input class="form-control" type="number" ng-model="advertisement.animal.age" placeholder="1.5"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-md-3">Spayed:</label>
                <div class="col-md-3">
                    <label><input type="radio" name="spayed" ng-model="advertisement.animal.spayed" value="true"/> Yes</label>
                    <label><input type="radio" name="spayed" ng-model="advertisement.animal.spayed" value="false"/> No</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3">Vaccinated:</label>
                <div class="col-md-3">
                    <select class="form-control" ng-model="advertisement.animal.vaccinationStatus">
                        <option value="" disabled>Choose</option>
                        <option value="YES">yes</option>
                        <option value="NO">no</option>
                        <option value="PARTLY">partially</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3">Description:</label>
                <div class="col-md-3">
                    <textarea class="form-control" rows="7" cols="70" ng-model="advertisement.animal.description"></textarea>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="panel-footer text-center">
        <button class="btn btn-primary" ng-click="saveAdvertisement()">Save</button>
    </div>
</form>