<h1>Animal Registration</h1>
<hr />
		<div class="row-fluid" ng-hide='error==""'>
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">{{error}}</div>
            </div>
        </div>
<form class="form">
	<div class="panel-body">
		<div class="form-group row">
			<label class="control-label col-md-3">Name:</label>
			<div class="col-sm-6">
				<input class="form-control" ng-model="animal.name" />
			</div>
		</div>
		
		<div class="form-group row">
			<label class="control-label col-md-3">Adoption:</label>
			<div class="col-md-3">
				<select class="form-control" ng-model="animal.adoptionType">
					<option value="" disabled>Choose</option>
					<option value="TEMPORARY">temporary</option>
					<option value="PERMANENT">permanent</option>
					<option value="BOTH">both</option>					
				</select>
			</div>
			<label class="control-label col-md-3">Sex:</label>
			<div class="col-md-3">
				<select class="form-control" ng-model="animal.sex">
					<option value="" disabled>Choose</option>
					<option value="MALE">male</option>
					<option value="FEMALE">female</option>
				</select>
			</div>
		</div>
		
		<div class="form-group row">
			<label class="control-label col-md-3">Species:</label>
			<div class="col-md-3">
				<select class="form-control" ng-model="animal.species"
					ng-options="s as s.speciesName for s in species"
					ng-change="getBreeds()">
					<option value="" disabled>Choose</option>					
				</select>
			</div>
			<label class="control-label col-md-3">Breed:</label>
			<div class="col-md-3">
				
				<select class="form-control" ng-model="animal.breed"
					ng-options="b as b.breedName for b in breeds">
					<option value="" disabled>Choose</option>
				</select>
			</div>			
		</div>
		
		<div class="form-group row">
				<label class="control-label col-md-3">Height(m):</label>
				<div class="col-md-3">
					<input class="form-control" type="number" animal.height" placeholder="1.5" />
				</div>
				<label class="control-label col-md-3">Weight(kg):</label>
				<div class="col-md-3">
					<input class="form-control" type="number" ng-model="animal.weight" placeholder="1.5" />
				</div>
		</div>
		
		<div class="form-group row">
			<label class="control-label col-md-3">Age(years):</label>
			<div class="col-md-3">
				<input class="form-control" type="number" ng-model="animal.age" placeholder="1.5" />
			</div>
		</div>
		
		<div class="form-group row">
			<label class="control-label col-md-3">Spayed:</label>
			<div class="col-md-3">
				<input type="radio" name="spayed" ng-model="animal.spayed"
					value="true" />Yes <input type="radio" name="spayed"
					ng-model="animal.spayed" value="false" />No
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3">Vaccinated:</label>
			<div class="col-md-3">
				<select class="form-control" ng-model="animal.vaccinationStatus">
					<option value="" disabled>Choose</option>
					<option value="YES">yes</option>
					<option value="NO">no</option>
					<option value="PARTLY">partially</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3">Description:</label>
			<div class="col-md-3">
				<textarea class="form-control" rows="7" cols="70" ng-model="animal.description"></textarea>
			</div>
		</div>
		<!--  
		<div class="form-group row">
			<label class="control-label col-md-3">Diseases:</label>
			<div class="col-md-2">
				<input type="radio" name="diseases" ng-model="animal.diseases" ng-value=false />No
			</div>
			<div class="col-md-2">
				<input type="radio" name="diseases" ng-model="animal.diseases" ng-value=true />Yes
			</div>
			<div class="col-md-5" ng-show="animal.diseases">
				<input class="form-control" type="text" ng-model="animal.diseasesDesc">
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3">Disabilities:</label>
			<div class="col-md-2">
				<input type="radio" name="disabilities" ng-model="animal.disabilities" ng-value=false />No
			</div>
			<div class="col-md-2">
				<input type="radio" name="disabilities" ng-model="animal.disabilities" ng-value=true />Yes
			</div>
			<div class="col-md-5" ng-show="animal.disabilities">
				<input class="form-control" type="text" ng-model="animal.disabilitiesDesc">
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3">Other costs:</label>
			<div class="col-md-2">
				<input type="radio" name="otherCosts" ng-model="animal.otherCosts" ng-value=false />No
			</div>
			<div class="col-md-2">
				<input type="radio" name="otherCosts" ng-model="animal.otherCosts" ng-value=true />Yes
			</div>
			<div class="col-md-5" ng-show="animal.otherCosts">
				<input class="form-control" type="text" ng-model="animal.otherCostsDesc">
			</div>
			</div>
		</div>
	</div>
	-->
	<div class="panel-footer text-center">
        <button class="btn btn-primary" ng-click="saveAnimal()">Save</button>
    </div>
</form>
