<h1>Species and Breeds</h1>
<hr />
<div class="row-fluid" ng-hide='error==""'>
	<div class="col-md-12">
		<div class="alert alert-danger" role="alert">{{error}}</div>
	</div>
</div>
<div class="panel-body">
	<div>
         <div class="row cardContainer">
         	<h3>Filter:</h3>
		    <input type="text" ng-model="nameText" />
		    <br /><br />
             <div class="span3 card" ng-repeat="species in species | filter:{name:nameText} | orderBy:'name'">
                 <div class="cardHeader">{{species.name}}</div>
                 <a href="#/update/species/{{species.speciesId}}">Manage breeds</a>
             </div>
         </div>
     </div>
</div>
