<h1>User update form</h1>
<hr />
<div class="row-fluid" ng-hide='error==""'>
	<div class="col-md-12">
		<div class="alert alert-danger" role="alert">{{error}}</div>
	</div>
</div>
<from class="form">
<div class="panel-body">
	<div class="form-group row">
		<label class="control-label col-sm-4">Name*</label>
		<div class="col-sm-5">
			<input class="form-control" type="text" name="name"
				ng-model="user.name" placeholder="Name">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-4">Email*</label>
		<div class="col-sm-5">
			<input class="form-control" type="text" name="email"
				ng-model="user.email" placeholder="Email">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-4">Country*</label>
		<div class="col-sm-5">
			<input class="form-control" type="text" name="country"
				placeholder="Country" ng-model="user.address.country">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-4">ZIP Code*</label>
		<div class="col-sm-5">
			<input class="form-control" type="number" name="zipCode"
				placeholder="1000" ng-model="user.address.zipCode">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-4">City*</label>
		<div class="col-sm-5">
			<input class="form-control" type="text" name="street"
				placeholder="City" ng-model="user.address.city">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-4">Street*</label>
		<div class="col-sm-5">
			<input class="form-control" type="text" name="street"
				placeholder="Street" ng-model="user.address.address">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-4">Phone number</label>
		<div class="col-sm-5">
			<input class="form-control" type="text" name="phoneNumber"
				placeholder="Phone number" ng-model="user.phoneNumber">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-4">Mobile phone</label>
		<div class="col-sm-5">
			<input class="form-control" type="text" name="mobilePhoneNumber"
				placeholder="Mobile phone" ng-model="user.mobilePhoneNumber">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-4">About me</label>
		<div class="col-sm-5">
			<textarea class="form-control" rows="5" ng-model="user.introductionText"></textarea>
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-4">Password*</label>
		<div class="col-sm-5">
			<input class="form-control" type="password" name="password" id="password"
				ng-model="user.password">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-4">Password again*</label>
		<div class="col-sm-5">
			<input class="form-control" type="password" name="password-re" id="password-re"
				password-match="password">
		</div>
	</div>
</div>
<div class="panel-footer text-center">
	<button class="btn btn-primary" ng-click="updateUser()">Update</button>
</div>
</from>