<h1>User form</h1>
<hr />
<from class="form"  ng-submit="saveAnimal()">
<div class="panel-body">
	<div class="form-group row">
		<label class="control-label col-sm-4">Name</label>
		<div class="col-sm-5">
			<input class="form-control" type="text" name="name" ng-model="user.name"
				placeholder="Name">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-4">Email</label>
		<div class="col-sm-5">
			<input class="form-control" type="text" name="emial" ng-model="user.email"
				placeholder="Email">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-4">Photo</label>
		<div class="col-sm-5">
			<input class="form-control" type="file" name="photo" ng-model="user.phto"
				placeholder="Photo">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-4">City</label>
		<div class="col-sm-5">
			<input class="form-control" type="text" name="street" placeholder="City"
				ng-model="user.city">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-4">Street</label>
		<div class="col-sm-5">
			<input class="form-control" type="text" name="street" placeholder="Street"
				ng-model="user.street">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-4">About me</label>
		<div class="col-sm-5">
			<textarea class="form-control" rows="5" ng-model="user.description"></textarea>
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-4">Password</label>
		<div class="col-sm-5">
			<input class="form-control" type="password" name="pw" ng-model="user.pw">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-sm-4">Password again:</label>
		<div class="col-sm-5">
			<input class="form-control" type="password" name="pw-re" ng-model="user.pwre">
		</div>
	</div>
</div>
<div class="panel-footer text-center">
	<button class="btn btn-primary">Save</button>
</div>
</from>