<label ng-show="user.warning"><font color="red">{{user.warning}}</font></label>

<div align="center"> 
   <h2>
      {{user.name}} 
   </h2>  
</div>

<br>

<div ng-if="user.status==2" align="right" style="margin-right: 125px">
	Friend
</div>
<div ng-if="user.status==3" align="right" style="margin-right: 78px">
	Friend request sent
</div>
<div ng-if="user.status==4" align="right" style="margin-right: 70px">	
	Want to be your friend
</div>
<div ng-if="user.status==6" align="right" style="margin-right: 85px">	
	Request declined
</div>

<div class="row">

	<div class="col-xs-6" style="margin-left: 30px">
		<!-- label ng-show="event.status!=0"><font size="4pt">Owner: {{event.owner}}</font></label-->
	</div>
	
	<div class="dropdown col-xs-4" align="right">
	  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Menu
	  <span class="caret"></span></button>
	  <ul class="dropdown-menu dropdown-menu-right dropdownMenu">
	    <li ng-show="user.status==1"><a ng-click="edit()" >edit</a></li>
	    <li ng-show="user.status==2"><a ng-click="deleteFriend()" >delete friend</a></li>
	    <li ng-show="user.status==3"><a ng-click="cancelRequest()" >cancel request</a></li>
	    <li ng-show="user.status==4"><a ng-click="acceptFriend()" >accept</a></li>
	    <li ng-show="user.status==4"><a ng-click="declineRequest()" >decline</a></li>
	    <li ng-show="user.status==5"><a ng-click="sendRequest()" >send friend request</a></li>
	    <li ng-show="user.status==6"><a ng-click="acceptFriend()" >accept</a></li>
	  </ul>
	</div>

</div>

<br>
<br>

<div>
	<p><font size="3pt" ><b>Email:</b>
	{{user.email}}
	</font></p>
</div>

<div>
	<p><font size="3pt" ><b>Residence:</b>
	{{user.city}}
	</font></p>
</div>

<div>
	<p><font size="3pt" ><b>Age:</b>
	{{user.age}}
	</font></p>
</div>

<div ng-show="user.introduction">
	<p><font size="3pt" ><b>Introduction:</b>
	{{user.introduction}}
	</font></p>
</div>

<div ng-show="user.phoneNumber">
	<p><font size="3pt" ><b>Phone:</b>
	{{user.phoneNumber}}
	</font></p>
</div>

<div ng-show="user.interest.length != 0">
	<p><font size="3pt" ><b>Interest and ratings:</b></font></p>
	
	<table>
		<tr>
			<td width="25%"><b>sport</b></td>
			<td width="25%"><b>avg. rate</b></td>
		</tr>
		<tr ng-repeat="i in user.interest">
			<td width="25%">{{i.sport}}</td>
			<td width="25%">{{i.rate}}</td>
		</tr>
	</table>
</div>
