<div align="center">
	<table>
		<tr ng-repeat="u in object.users">
			<td width="25%" align="center"><a href="#users/{{u.id}}">{{u.name}}: </a></td>
			<td width="25%" align="left"><select ng-model="u.rate">
				  <option value=1>1</option>
				  <option value=2>2</option>
				  <option value=3>3</option>
				  <option value=4>4</option>
				  <option value=5>5</option>
				  <option value=6>6</option>
				  <option value=7>7</option>
				  <option value=8>8</option>
				  <option value=9>9</option>
				  <option value=10>10</option>
			</select></td>
		</tr>
	</table>
	
	<br>
	
	<button class="btn btn-default" ng-click="rate()">Rate</button>
</div>