  
 
<hr />
<div class="row-fluid" ng-hide='error==""'>
	<div class="col-md-12">
		<div class="alert alert-danger" role="alert">{{error}}</div>
	</div>
</div>


<div class="panel-body">
	<h1 class="cardLabel">Event List</h1>
     <div ng-show="events.length > 0">
	    <br /><br />
            <div class="span3 card" ng-repeat="event in events | orderBy:'name'"  style="width: 320px">
                <button  class="btn close cardClose" ng-click="deleteUser(user.userId)" >&times;</button>
                <div class="cardHeader">{{event.type}}  ({{event.levels}}) </div>
                <div class="cardBody">owner: <a href="#/user/{{event.ownerId}}">{{event.owner}}</a> </div>
                <div class="cardBody">{{event.city}}:  {{event.date}}</div>
                <div class="cardBody">{{event.members}}</div>
                <div class="cardBody"><a href="#/user/{{event.links[0].rel}}">check</a> </div>
            </div>
    </div>
</div>