<div class="page-header" align="center"> 
   <h2>
      {{event.title}} 
   </h2>  
</div>

<div ng-if="event.status==2 && event.isOpened" align="right">
	applied for this event
</div>

<div class="dropdown dropdownMenu" align="right" ng-if="event.isOpened">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Menu
  <span class="caret"></span></button>
  <ul class="dropdown-menu dropdown-menu-right dropdownMenu">
    <li ng-show="event.status==0"><a ng-click="deleteEvent()" >delete</a></li>
    <li ng-show="event.status==0"><a ng-click="closeEvent()" >close</a></li>
    <li ng-show="event.status==1"><a ng-click="leaveEvent()" >leave event</a></li>
    <li ng-show="event.status==2"><a ng-click="cancelEvent()" >cancel request</a></li>
    <li ng-show="event.status==3"><a ng-click="joinEvent()" >join</a></li>
  </ul>
</div>
	
<div ng-show="event.members.length > 0" >
	<ul ng-repeat="m in event.members">
		<li >
			<a href="#/user/{{m.id}}">{{m.name}}</a>	
		</li>
	</ul>
</div>	
	
<table>
  <tr>
    <td>Owner:  </td>
    <td>{{event.owner}}</td> 
  </tr>
  <tr>
    <td>Date  </td>
    <td>{{event.date}}</td> 
  </tr>
  <tr>
    <td>Type:  </td>
    <td>{{event.type}}</td> 
  </tr>
  <tr>
    <td>MaxSize:  </td>
    <td>{{event.maxSize}}</td> 
  </tr>
  <tr>
    <td>Status:  </td>
    <td>{{event.status}}</td> 
  </tr>
  
</table>

<div ng-show="event.comments.length > 0" >
	<ul ng-repeat="c in event.comments">
		<li >
				{{c.writer.name}}
				{{c.message}}	
		</li>
	</ul>
</div>

<input ng-model="message" type="text">

<button class="btn btn-primary" ng-click="writeComment()">Write</button>
